.main {
  display: block;
  background-image: linear-gradient(#9632AB, #2D1698);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 80%;
  border-bottom-right-radius: 100%;
  overflow: hidden;
  border-right: 8px solid #E8B925;
  border-bottom: 8px solid #E8B925;
  padding-right: 12%;
  padding-top: 30px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.5);
}

.answers {
  margin: 0;

  li {
    background-image: linear-gradient(#4736B0, #3C054F);
    display: block;
    border-radius: 30px;
    padding: 10px;
    text-transform: uppercase;
    border: 4px solid #E8B925;
    margin-bottom: 8px;
    color: #F2E719;

    &:hover {
      background: #422467;
    }

    &:active {
      background: #4736b0;
    }
  }
}