<!doctype html>
<html lang="en" ng-app="pointlessApp">
    <head>
        <meta charset="utf-8">
        <title>Pointless App</title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
        <link rel="stylesheet" type="text/css" href="css/app.css"/>
        <script src="jquery-1.11.2.min.js" charset="utf-8"></script>
        <script src="d3.v3.min.js" charset="utf-8"></script>
        <script src="angular.js"></script>

        <script>
            var pointlessApp = angular.module('pointlessApp', []);

            pointlessApp.controller('pointlessAppCtrl', function ($scope) {
                $scope.questions = [
                    {'question': 'Percentage of jobs created across the UK',
                        'answers': [
                            {'answer': 'North West', 'points': 10, 'blob': "blob answer 1"},
                            {'answer': 'North East', 'points': 20, 'blob': "lob answer 2"},
                            {'answer': 'London', 'points': 80, 'blob': "lob answer 3"},
                            {'answer': 'Midlands', 'points': 40, 'blob': "lob answer 4"}
                        ]
                    },
                    {'question': 'This is another very difficult question 22222222222',
                        'answers': [
                            {'answer': 'Answer 1', 'points': 10, 'blob': "lob answer 1"},
                            {'answer': 'Answer 2', 'points': 20, 'blob': "lob answer 2"},
                            {'answer': 'Answer 3', 'points': 30, 'blob': "lob answer 3"},
                            {'answer': 'Answer 4', 'points': 40, 'blob': "lob answer 4"}
                        ]
                    },
                    {'question': 'This is tue question 333333333333',
                        'answers': [
                            {'answer': 'Answer 1', 'points': 10, 'blob': "blob answer 1"},
                            {'answer': 'Answer 2', 'points': 20, 'blob': "lob answer 2"},
                            {'answer': 'Answer 3', 'points': 30, 'blob': "lob answer 3"},
                            {'answer': 'Answer 4', 'points': 40, 'blob': "lob answer 4"}
                        ]
                    },
                    {'question': 'This is another very difficult question 444444444444',
                        'answers': [
                            {'answer': 'Answer 1', 'points': 10, 'blob': "lob answer 1"},
                            {'answer': 'Answer 2', 'points': 20, 'blob': "lob answer 2"},
                            {'answer': 'Answer 3', 'points': 30, 'blob': "lob answer 3"},
                            {'answer': 'Answer 4', 'points': 40, 'blob': "lob answer 4"}
                        ]
                    }
                ];
                $scope.current_question = 0;
                $scope.chosen_answer = 0;
                $scope.display_answer_blob = false;
                $scope.display_next = false;

                $scope.show_blob = function (answer_index) {
                    $scope.chosen_answer = answer_index;
                    start($scope.questions[$scope.current_question].answers[answer_index].points, function () {
                        $scope.display_answer_blob = true;
                        $scope.display_next = true;
                        $scope.$digest();
                    });
                };
                $scope.next = function () {
                    $scope.current_question++;
                    $scope.display_answer_blob = false;
                    $scope.display_next = false;
                };
                $scope.display_next_and_blob = function (){

                }
            });
        </script>
    </head>
    <body ng-controller="pointlessAppCtrl">
        <div id="view" ng-view>
            <header>
                <h1 class="logo">Pointless</h1>
            </header>
            <div class="grid">
                <main class="main grid__item lap-and-up-one-half text--center">
                    <h2 class="question">Can you find a pointless answer?</h2>

                    <div id="question-block" ng-if="current_question < 4">
                        <h2>{{questions[current_question].question}}</h2>
                        <ul class="answers">
                            <li ng-repeat="(answer_index, answer_object) in questions[current_question].answers" ng-click="show_blob(answer_index)">{{answer_object.answer}}</li>
                        </ul>
                    </div>
                    <div id="answer-blob">
                        <p ng-if="display_answer_blob === true">{{questions[current_question].answers[chosen_answer].blob}}</p>
                    </div>
                    <button ng-if="display_next === true" ng-click="next()">Next</button>
                    <div ng-if="current_question === 4">
                        <p> This the end </p>
                    </div>
                    
                </main><!--
             --><aside class="graphic grid__item lap-and-up-one-half">
                    <div class="countdown">
                        <div id="score"></div>
                        <div id="countdown"></div>
                    </div>
                </aside>
            </div>
            <script src="main.js"></script>
        </div>

        <footer>The original Pointless TV show is owned by Endemol UK Ltd. This is a parody website and no copyright infringment is intended. To get in touch, email <a href="mailto:example@example.com" title="">example@example.com</a></footer>
    </body>
</html>
